@charset "UTF-8";

#theader{
    text-align: center;
}

#art1{
    display: inline;
    width: 900px;
    height: 300px;
}

#art2{
    display: inline;
    width: 700px;
}

#as1{
    text-align: justify;
}