@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: lightgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    /*podemos deixar todas as letras de um elemento
     maiusculas usando "text-transform: uppercase;"*/
     
     font-variant: small-caps;
     /*font-variant: small-caps; faz com que as letras fiquem maiusculas,
      mas com a primeira letra de cada palvara com destaque maior*/
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.imagem > p{
    background-color: rgb(48, 47, 47);
    width: 300px;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(56, 54, 54);
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}