@charset "UT-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    /*define se as células dentro de uma <table>
     têm bordas (juntas como se fosse uma só) compartilhadas ou separadas
     */
}

td{
    border: 0.5px solid black;
    padding: 8px;  
    text-align: center; /*alinhamento horizontal*/
    vertical-align: middle; /*alinhamento vertical*/
}

